---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Acerca de'>
  <main class='flex items-center justify-center sm:max-w-7xl mx-auto h-full'>
    <div class='flex p-5 justify-center'>
      <div class='flex flex-col justify-evenly max-w-2xl sm:mr-36'>
        <div class='flex flex-col gap-3 p-5'>
          <p class='text-white text-2xl'>Misión</p>
          <p class='text-secondary text-xl text-balance'>
            La misión de TecnoFix es brindar un servicio de calidad, rápido y
            confiable para la reparación y mantenimiento de dispositivos
            electrónicos, satisfaciendo las necesidades y expectativas de los
            clientes.
          </p>
        </div>
        <div class='flex flex-col gap-3 p-5'>
          <p class='text-white text-2xl'>Visión</p>
          <p class='text-secondary text-xl text-balance'>
            Transformar la experiencia de reparación y mantenimiento de
            dispositivos electrónicos a domicilio, ofreciendo soluciones rápidas
            y personalizadas.
          </p>
        </div>
      </div>
      <img
        src='/img8.png'
        class='fixed h-full mt-20 right-0 top-2 max-sm:hidden'
        alt='image'
      />
    </div>
  </main>
</Layout>
