---
import HeroManager from '../components/ui/hero/HeroManager';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Inicio'>
  <main class='p-10 mx-auto'>
    <HeroManager client:load />
  </main>
</Layout>
